<h3>2-Way Data Binding</h3>

<div [ngStyle]="{backgroundColor: bcolor, color: fcolor}">
    <label for="ename">Enter Employee Name:</label>
    <input type="text"  id="ename" [(ngModel)]="empName" (keyup)="test($event)" />
    <p>
        {{empName}}
    </p>
    <label for="test">Event Testing</label>
    <input type="text" id="test" (blur)="test2()">
</div>
<div class="w-50" [ngStyle]="colorObj">
    <h3>ADDITION </h3>
    <div class="mb-3">
        <label for="number1" class="form-label">Enter 1st Number</label>
        <input type="number" class="form-control" id="number1" placeholder="number1" [(ngModel)]="num1">
    </div>
    <div class="mb-3">
        <label for="number2" class="form-label">Enter 2nd Number</label>
        <input type="number" class="form-control" id="number2" placeholder="number2" [(ngModel)]="num2">
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="add()">ADD NUMBERS</button>
    </div>
    <div>
        <b>ADDTION IS : {{addition}}</b>
    </div>
</div>
<hr>
    <p #myPara (mouseover)="templateTest(myPara)">
        Hello India
    </p>
<div [ngClass]="styleClassArray">
        <h3>ADDITION (with ngClass)</h3>
        <div class="mb-3">
            <label for="number1" class="form-label">Enter 1st Number</label>
            <input type="number" class="form-control"  placeholder="number1" #node1>
        </div>
        <div class="mb-3">
            <label for="number2" class="form-label">Enter 2nd Number</label>
            <input type="number" class="form-control"  placeholder="number2" #node2>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="add2(node1.value,node2.value)">ADD NUMBERS</button>
        </div>
        <div>
            <b>ADDTION IS : {{addition2}}</b>
        </div>
    </div>
    <hr>
    <h3>CHILD COMPONENT</h3>
    <app-article [employee]="empName"></app-article>
    <hr>
    <div>
        <h3>VOTER APPLICATION</h3>
        <label for="age1">Enter your age: </label><input type="number" id="age1" [(ngModel)]="age">
        <h4>Your age is : {{age}}</h4>
        <p *ngIf="age<18" class="text-danger">   <!-- when if conditions bcms true then the element gets added, if false then element gets removed-->
            <b>Your are not allowed for voting</b>
        </p>
        <p *ngIf="age>=18" class="text-info"> <!-- when if condition bcms true then the element gets added, if false then element gets removed-->
            <b>Your age is valid for voting. Please proceed with the age proof</b>
        </p>
    </div>
    <hr>

    <div [ngClass]="styleClassObject">
        <h3>VOTER APPLICATION</h3>
        <label for="age4">Enter your age: </label><input type="number" id="age4" [(ngModel)]="age">
        <h4>Your age is : {{age}}</h4>
        <p *ngIf="age<18;else voterelseblock" class="text-danger">   <!-- when if conditions bcms true then the element gets added, if false then element gets removed-->
            <b>Your are not allowed for voting</b>
        </p>
        <ng-template #voterelseblock>
            <p class="text-info"> 
                <b>Your age is valid for voting. Please proceed with the age proof</b>
            </p>
        </ng-template>
    </div>
<hr>
    <div>
        <h3>VOTER APPLICATION (NESTED IF)</h3>
        <label for="age3">Enter your age: </label><input type="number" id="age3" [(ngModel)]="age">
        <h4>Your age is : {{age}}</h4>
        <p *ngIf="age<18;else voterelseblock2" class="text-danger">   <!-- when if conditions bcms true then the element gets added, if false then element gets removed-->
            <b>Your are not allowed for voting</b>
        </p>
        <ng-template #voterelseblock2>
            <div class="text-info"> 
                <b>Your age {{age}} is valid for voting. Please proceed with the age proof</b>

                <div *ngIf="age>=18 && age<=35">
                    <b>Young Voters</b>
                </div>
                <div *ngIf="age>35 && age<=55">
                    <b>Adult Voters</b>
                </div>
                <div *ngIf="age>55">
                    <b>Elder Voters</b>
                </div>
            </div>
        </ng-template>
    </div>
<hr>
<div>
    <h3>VOTER APPLICATION (If then else )</h3>
    <label for="age5">Enter your age: </label><input type="number" id="age5" [(ngModel)]="age">
    <h4>Your age is : {{age}}</h4>
    <i *ngIf="age<18 then voterthenblock; else voterelsepart" class="text-danger"> 
    </i> <!-- span element is only used to check the condn, so it will not be a part of DOM-->
    <ng-template #voterthenblock>
        <p>
            <b>Your are not allowed for voting</b>
        </p>
    </ng-template>
    <ng-template #voterelsepart>
        <p class="text-info"> 
            <b>Your age is valid for voting. Please proceed with the age proof</b>
        </p>
    </ng-template>
</div>
<hr>
<div>
    <h3>ngFor</h3>
    <b *ngFor="let salary of salaryArray">{{salary}}<span>-</span></b>
</div>
<div>
    <h3>ngFor</h3>
    <p *ngFor="let salary of salaryArray; let i=index">
        <span>Salary:{{salary}}</span>
        <span>Index:{{i}}</span>
    </p>
</div>
<div>
    <h3>ngFor</h3>
    <b *ngFor="let salary of salaryArray; let i=index">
        <span>{{salary}}</span>
        <span *ngIf="i<=salaryArray.length-2">-</span>
    </b>
</div>
<div>
    <h3>ngFor (display only even index elements)</h3>
    <p *ngFor="let salary of salaryArray; let i=index; let e=even">
        <span *ngIf="e">{{salary}}</span>
    </p>
</div>
<div>
    <h3>ngFor (display only odd index elements)</h3>
    <p *ngFor="let salary of salaryArray; let i=index; let o=odd">
        <span *ngIf="o">{{salary}}</span>
    </p>
</div>

<table class="table table-bordered">
    <tr *ngFor="let cont of contacts">
        <td>{{cont.name}}</td>
        <td *ngFor="let c of cont.contact">{{c}}</td>
    </tr>
</table>
<table class="table table-bordered">
    <tr *ngFor="let cont of contacts">
        <td>{{cont.name}}</td>
        <td>
            <tr><td *ngFor="let c of cont.contact">{{c}}</td></tr>
        </td>
    </tr>
</table>
<hr>
<div>
    <h3>Switch case</h3>
    <label for="num">Enter number:</label>
    <input type="text"  id="num" [(ngModel)]="num"/>
    <p>
      <b>Number is :  {{num}}</b> 
    </p>
    <div [ngSwitch]="true" class="text-info">  
        <p *ngSwitchCase="num>=0 && num%2==0">NUMBER IS EVEN</p>
        <p *ngSwitchCase="num>=0 && num%2!=0">NUMBER IS ODD</p>
        <p *ngSwitchDefault>INVALID NUMBER</p>
    </div>
</div>
<div>
    <!-- design this achor tag with bootstrap-->
    <a [href]="linkObject.linkref">{{linkObject.linkName}}</a>
    <h3>Learning Websites</h3>
     <!-- design this nav with bootstrap (bootstrap lists)-->
    <nav>
        <ol>
            <li *ngFor="let link of links">
                <a [href]="link.linkref">{{link.linkName}}</a>
            </li>
        </ol>
    </nav>
</div>
<!--
    {{}} : string interpolation (1-way db)
    [()] : 2-way data binding
    () : event binding
    [] : attribute binding
    
-->
<!-- focus, blur, submit, click-->