<h3>2-Way Data Binding</h3>


<div>
    <label for="ename">Enter Employee Name:</label>
    <input type="text"  id="ename" [(ngModel)]="empName" (keyup)="test($event)" />
    <p>
        {{empName}}
    </p>
    <label for="test">Event Testing</label>
    <input type="text" id="test" (blur)="test2()">
</div>
<div class="w-50 bg-success">
    <h3>ADDITION </h3>
    <div class="mb-3">
        <label for="number1" class="form-label">Enter 1st Number</label>
        <input type="number" class="form-control" id="number1" placeholder="number1" [(ngModel)]="num1">
    </div>
    <div class="mb-3">
        <label for="number2" class="form-label">Enter 2nd Number</label>
        <input type="number" class="form-control" id="number2" placeholder="number2" [(ngModel)]="num2">
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="add()">ADD NUMBERS</button>
    </div>
    <div>
        <b>ADDTION IS : {{addition}}</b>
    </div>
</div>
<hr>
    <p #myPara (mouseover)="templateTest(myPara)">
        Hello India
    </p>
    <div class="w-50 bg-success">
        <h3>ADDITION </h3>
        <div class="mb-3">
            <label for="number1" class="form-label">Enter 1st Number</label>
            <input type="number" class="form-control"  placeholder="number1" #node1>
        </div>
        <div class="mb-3">
            <label for="number2" class="form-label">Enter 2nd Number</label>
            <input type="number" class="form-control"  placeholder="number2" #node2>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="add2(node1.value,node2.value)">ADD NUMBERS</button>
        </div>
        <div>
            <b>ADDTION IS : {{addition2}}</b>
        </div>
    </div>
    <hr>
    <h3>CHILD COMPONENT</h3>
    <app-article [employee]="empName"></app-article>
<!--
    {{}} : string interpolation (1-way db)
    [()] : 2-way data binding
    () : event binding, attribute binding
    [] : attribute binding
    
-->
<!-- focus, blur, submit, click-->