<footer class="bg-primary-subtle">
    <div class="row">
        <div class="col-md-4">
           Designed and built by Vina Patil, SME, Neosoft <br>
           current version : 1.0.0
        </div>
        <div class="col-md-4">
            <h3>Visit us on </h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Facebook</a></li>
                <li class="list-group-item"><a href="#">Twitter</a></li>
                <li class="list-group-item"><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Projects</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Book Management</a></li>
                <li class="list-group-item"><a href="#">Course Management</a></li>
                <li class="list-group-item"><a href="#">General Program Management</a></li>
            </ul>
        </div>
       
    </div>
</footer>
