
<div id="registration">
    <!-- <h3 class="text-center text-white pt-5">registration form</h3> -->
    <!-- <div class="container"> -->
        <div id="registration-row" class="row justify-content-center align-items-center">
            <div id="registration-column" class="col-md-6">
                <div id="registration-box" class="col-md-12">
                    <form id="registration-form" class="form" method="post" [formGroup]="registerForm" (submit)="collectCustomerData()">
                        <h3 class="text-center text-info">Registration</h3>
                        <div class="form-group">
                          <label for="name" class="text-info">Name:</label><br>
                          <input type="text" name="name" id="name" class="form-control" formControlName="customerName" > 
                          <div *ngIf="cname!.touched" class="text-danger">
                            <p *ngIf="cname?.hasError('required')">name is required</p>
                            <p *ngIf="cname?.hasError('pattern')">only alphabets allowed in name</p>
                          </div> 
                        </div>
                        <div class="form-group">
                          <label for="mail" class="text-info">Email:</label><br>
                          <input type="email"  id="mail" class="form-control" formControlName="customerEmail" >
                          <div *ngIf="cmail!.touched" class="text-danger">
                            <p *ngIf="cmail?.hasError('required')">email id  is required</p>
                            <p *ngIf="cmail?.hasError('email')">Please put valid email id</p>
                          </div> 
                        </div>
                        <div class="form-group">
                          <label for="age" class="text-info">Age:</label><br>
                          <input type="number" name="age" id="age" class="form-control" formControlName="customerAge">
                          <div *ngIf="cage!.touched" class="text-danger">
                            <p *ngIf="cage?.hasError('required')">Age is required</p>
                            <p *ngIf="cage?.hasError('min') || cage?.hasError('max')">Age must be 16 to 70</p>
                          </div> 
                        </div>
                        <div class="form-group">
                          <label for="mobile" class="text-info">Mobile:</label><br>
                          <input type="text" name="mobile" id="mobile" class="form-control" formControlName="customerMobile">
                          <div *ngIf="cmobile!.touched" class="text-danger">
                            <p *ngIf="cmobile?.hasError('required')">Mobile number is required</p>
                            <p *ngIf="cmobile?.hasError('pattern')">Please enter valid 10 digit mobile number</p>
                          </div> 
                        </div>
                        <div class="form-group">
                          <label for="username" class="text-info">Set Username:</label><br>
                          <input type="text" name="username" id="username" class="form-control" formControlName="customeruname">
                          <div *ngIf="username!.touched" class="text-danger">
                            <p *ngIf="username?.hasError('required')">username is required</p>
                            <p *ngIf="username?.hasError('minlength') || username?.hasError('maxlength')">4 to 20 characters allowed</p>
                          </div>   
                        </div>
                        <div class="form-group">
                          <label for="password" class="text-info">Password:</label><br>
                          <input type="password" name="password" id="password" class="form-control" formControlName="customerPassword">
                          <div *ngIf="password!.touched" class="text-danger">
                            <p *ngIf="password?.hasError('required')">Password is required</p>
                            <div *ngIf="password?.hasError('pattern')">
                                <b>Password must contain atleast one</b>
                               <ol>
                                  <li>small letter</li>
                                  <li>capital letter</li>
                                  <li>digit</li>
                                  <li>special symbol()</li>
                               </ol>
                               <b>Password must be 6 to 30 characters long</b>
                            </div>
                          </div> 
                        </div>
                        <div class="form-group">
                          <label for="cpassword" class="text-info">Confirm Password:</label><br>
                          <input type="password" name="cpassword" id="cpassword" class="form-control" formControlName="customerConfirmPassword">
                          <div *ngIf="confirmpass!.touched" class="text-danger">
                            <p *ngIf="confirmpass?.hasError('required')">Password confirmation is required</p>
                            <p *ngIf="registerForm?.hasError('passwordmatch')">Both password must be same</p>
                          </div> 
                        </div>
                        <div class="form-group">
                          <input type="submit" name="submit" class="btn btn-info btn-md" value="submit" [disabled]="registerForm.invalid">
                          <input type="reset" name="reset" class="btn btn-info btn-md" value="reset">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- </div> -->
  </div>
  