<div>
    <h3>ADD/SUBTRACT</h3>
    <label for="num1">Enter 1st number</label>
    <input type="number" [(ngModel)]="num1" id="num1"><br>
    <label for="num2">Enter 2nd number</label>
    <input type="number" [(ngModel)]="num2" id="num2"><br>
    <label for="num3">Enter 3rd number</label>
    <input type="number" [(ngModel)]="num3" id="num3"><br>
    <label for="num4">Enter 4th number</label>
    <input type="number" [(ngModel)]="num4" id="num4"><br>
    <button (click)="add()">ADD</button>
    <button (click)="subtract()">SUBTRACT</button>
    <div *ngIf="sum>0">
        <b>SUM IS {{sum}}</b>
    </div>
    <div *ngIf="sub>=0">
        <b>Subtracttion is {{sub}}</b>
    </div>
</div>
<div>
    <h3>Counter</h3>
    <p>{{counter1}}</p>
    <button (click)="increment()">INCREMENT COUNTER</button>
</div>
<hr>

