<section>
    <h3>EMPLOYEE INFORMATION</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DESIGNATION</th>
                <th>SALARY</th>
                <th>JOINING DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.eid}}</td>
                <td>{{employee.ename}}</td>
                <td>{{employee.edesignation}}</td>
                <td>{{employee.esalary}}</td>
                <td>{{employee.ejoiningDate}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <div class="row">
        <div class="col-md-3" *ngFor="let employee of employees">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">{{employee.eid}}</h6>
                  <h5 class="card-title">{{employee.ename}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"> <td>{{employee.edesignation}}</td></h6>
                  <h6 class="card-subtitle mb-2 text-success"> <td>Joined on {{employee.ejoiningDate}}</td></h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">SHOW MORE INFO</a>
                </div>
              </div>
        </div>
    </div>
</section>
