<!-- <section>
    <h3>EMPLOYEE INFORMATION</h3>
    <table class="table table-hover">
        <thead>       
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.ename }}</td>
                <td>{{employee.ename | index : 'p' }}</td>
                <td>{{employee.ename | uppercase }}</td> 
                <td>{{employee.ename | lowercase }}</td>
                <td>{{employee.ename | titlecase }}</td>
                <td>{{employee.edesignation  }}</td>
                <td>{{employee.edesignation | slice : 0 : (employee.edesignation | index : "Developer") | uppercase}}</td>
                <td>{{employee.esalary}}</td>
                <td>{{employee.esalary | number}}</td> 
                <td>{{employee.esalary | number : ".1-2" }}</td> 
                <td>{{employee.esalary | currency}}</td> 
                <td>{{employee.esalary | currency : 'INR' : false : ".3-3"}}</td> 
                <td>{{employee.edesignation | length }}</td>
            
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h3>DATE FORMATTING</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>    
                <th>JOINING DATE</th>
                <th>JOINING DATE</th>
                <th>JOINING DATE</th>
                <th>JOINING DATE</th>
                <th>CURRENT DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.ejoiningDate}}</td>
                <td>{{employee.ejoiningDate | date}}</td>
                <td>{{employee.ejoiningDate | date : "mediumDate"}}</td> 
                <td>{{employee.ejoiningDate | date :"E, dd/MM/yy"}}</td>
                <td>{{today | date: "E, MMM dd, yyyy"}}</td>
            </tr>
        </tbody>
    </table>
</section>
<hr>-->
<section> 
    <h3>ORDER BY</h3>
    <p><b>Number array:</b> {{[45,23,11,22,33,1,5,6] | orderby}}</p>
    <p>{{["vina","pavan","amol","charan", "vira", "india",'indian'] | orderby }}</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="bg-success" (click)="sendKey('id')">ID</th>
                <th class="bg-danger" (click)="sendKey('ename')">NAME</th>
                <th class="bg-info" (click)="sendKey('esalary')"> SALARY</th>
                <th class="bg-primary" (click)="sendKey('edesignation')">DESIGNATION</th>
                <th class="bg-warning" (click)="sendKey('ejoiningDate')">JOINING DATE</th>
                <th class="bg-success" colspan="3">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | orderby : orderKey">
                <td>{{employee.id}}</td>
                <td>{{employee.ename }}</td>
                <td>{{employee.esalary}}</td>
                <td>{{employee.edesignation  }}</td>
                <td>{{employee.ejoiningDate | date : 'full'}}</td>
                <td><a [routerLink]="['/details', employee.eid,employee.ename]">SHOW DETAILS</a></td>
                <td><button class="btn btn-danger" (click)="delete(employee.id)">DELETE</button></td> 
                <td><button class="btn btn-info" (click)="update(employee.id)">UPDATE</button></td><!-- use boostrap delete icon-->
            </tr>
        </tbody>
    </table>
</section>
<nav class="navbar navbar-expand-lg bg-dark " data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="developers" routerLinkActive="bg-secondary">DEVELOPERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="trainers" routerLinkActive="bg-secondary">TRAINERS</a>
          </li>
        </ul>   
      </div>
    </div>
  </nav>
<hr>
<h4>Dyanamic view in Employee Component</h4>
<router-outlet>

</router-outlet>
<hr>
<section>
    <h4>{{cname}}</h4>
    <div class="row">
        <div class="col-md-3 bg-info border border-2" *ngFor="let emp of employees">
            <app-employee-card [employee]="emp" (emitter)="receiver($event)"></app-employee-card>
            <button class="btn btn-danger" (click)="delete(emp.id)">DELETE</button> <!-- component gets repeated till the end of the array-->
        </div>
    </div>
</section>
<hr>
<button (click)="openFlag=!openFlag" class="btn btn-success">ADD / UPDATE EMPLOYEE FORM</button>
<div *ngIf="openFlag">
    <div id="empinput">
        <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
        <!-- <div class="container"> -->
            <div id="input-row" class="row justify-content-center align-items-center">
                <div id="input-column" class="col-md-6">
                    <div id="input-box" class="col-md-12">
                        <form id="employe-form" class="form" (submit)="collectEmp()"  method="post" [formGroup]="empForm" >
                            <h3 class="text-center text-info">EMPLOYEE INPUT FORM</h3>
                            <div class="form-group">
                                <label for="id" class="text-info">ID:</label><br>
                                <input type="number" name="id" id="id" class="form-control" formControlName="id" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="ename" class="text-info">Name:</label><br>
                                <input type="text" name="ename" id="ename" class="form-control"  formControlName="ename" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="esalary" class="text-info">SALARY:</label><br>
                                <input type="number" name="esalary" id="esalary" class="form-control"  formControlName="esalary" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="edesignation" class="text-info">DESIGNATION:</label><br>
                                <input type="text" name="edesignation" id="edesignation" class="form-control"  formControlName="edesignation" >
                            </div>
                            <div class="form-group mb-3">
                                <label for="ejoiningDate" class="text-info">JOINING DATE:</label><br>
                                <input type="date" name="ejoiningDate" id="ejoiningDate" class="form-control"  formControlName="ejoiningDate" >
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="ADD">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="UPDATE">
                                <input type="reset" name="reset" class="btn btn-info btn-md" value="RESET">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- </div> -->
      </div>
      
</div>