<section>
    <h3>EMPLOYEE INFORMATION</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>UP NAME</th>
                <th>LOW NAME</th>
                <th>TITLE NAME</th>
                <th>DESIGNATION</th>
                <th>Technology</th>
                <th>SALARY</th>
                <th>SALARY</th>  <th>SALARY</th>
                <th>SALARY</th>
                <th>SALARY</th>
                <th>JOINING DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.eid}}</td>
                <td>{{employee.ename}}</td>
                <td>{{employee.ename | uppercase }}</td> <!-- transform (pipename, ...array)-->
                <td>{{employee.ename | lowercase }}</td>
                <td>{{employee.ename | titlecase }}</td>
                <td>{{employee.edesignation }}</td>
                <td>{{employee.edesignation | slice : 0 : employee.edesignation.indexOf("Developer")-1  | uppercase}}</td>
                <td>{{employee.esalary}}</td>
                <td>{{employee.esalary | number}}</td> <!-- seperator, round to 3(max)-->
                <td>{{employee.esalary | number : ".1-2" }}</td> <!--"d.min-max" u can omit d-->
                <td>{{employee.esalary | currency}}</td> <!-- $, seperator round to 2 (exact)-->
                <td>{{employee.esalary | currency : 'INR' : false : ".3-3"}}</td> <!-- true for symbol false for code-->
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h3>DATE FORMATTING</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>    
                <th>JOINING DATE</th>
                <th>JOINING DATE</th>
                <th>JOINING DATE</th>
                <th>JOINING DATE</th>
                <th>CURRENT DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.eid}}</td>
                <td>{{employee.ejoiningDate}}</td>
                <td>{{employee.ejoiningDate | date}}</td>
                <td>{{employee.ejoiningDate | date : "mediumDate"}}</td> <!-- apply difft keywords-->
                <td>{{employee.ejoiningDate | date :"E, dd/MM/yy"}}</td>
                <td>{{today | date: "E, MMM dd, yyyy"}}</td>
            </tr>
        </tbody>
    </table>
</section>
<hr>
<section>
    <h4>{{cname}}</h4>
    <div class="row">
        <div class="col-md-3" *ngFor="let emp of employees">
            <app-employee-card [employee]="emp" (emitter)="receiver($event)"></app-employee-card> <!-- component gets repeated till the end of the array-->
        </div>
    </div>
</section>
